*{
    margin: 0;
    padding: 0;
}
a{
    font-style: italic;
    color: black;
}
#left_part{
    position:fixed;
    width: 40rem;
    height: 100%;
    background-color: rgb(230, 230, 230);
    box-shadow: -1rem 0 1rem 1rem black;
}
@keyframes left_close{
    0%{left: 0}
    100%{left: -40rem}
}
@keyframes left_open{
    0%{left: -40rem}
    100%{left: 0}
}
#left_part #search_box{
    position: absolute;
    left: 1rem;
    top: 1rem;
}
#left_part #search_box #search_text{
    position: absolute;
    width: 7rem;
    height: 1.5rem;
    border:solid black 0.05rem;
    text-align: center;
}
#left_part #search_box #search_button{
    position: absolute;
    top: 2rem;
    width: 3rem;
    height: 1.5rem;
    background-color: rgb(200, 200, 200);
    border:solid black 0.05rem;
    text-align: center;
    display: block;
}
#left_part #search_box #search_button:hover{
    background-color: gray;
}
#left_part #search_box #reset_button{
    position: absolute;
    left: 4rem;
    top: 2rem;
    width: 3rem;
    height: 1.5rem;
    background-color: rgb(200, 200, 200);
    border:solid black 0.05rem;
    text-align: center;
    display: block;
}
#left_part #search_box #reset_button:hover{
    background-color: gray;
}
#left_part #ismism_main_cube{
    position: absolute;
    left: 10rem;
    top: 4.5rem;
    transform: skewY(-15deg);
}
#left_part #ismism_main_cube #show_cube{
    position: absolute;
}
#left_part #ismism_main_cube #show_cube div{
    position: absolute;
    left: calc(var(--x)*2.5rem);
    top: calc(calc(var(--y)*3rem) + calc(var(--x)*1.45rem));
    width: 2.5rem;
    height: 3rem;
    transform: skewY(30deg);
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    border: solid black 0.05rem;
    display: flex;
}
#left_part #ismism_main_cube #show_cube div.searched{
    background-color: rgb(201, 149, 15);
    z-index: 1;
}
#left_part #ismism_main_cube #show_cube div.pinned{
    background-color: rgb(11, 167, 167);
    z-index: 1;
}
#left_part #ismism_main_cube #show_cube div.selected{
    background-color: rgb(182, 53, 53);
    z-index: 1;
}
#left_part #ismism_main_cube #show_cube div::before{
    content: "";
    position: absolute;
    left: 2.45rem;
    top: -0.05rem;
    width: 10rem;
    height: 3rem;
    background-color: gray;
    box-sizing: border-box;
    border:solid black 0.05rem;
    transform-origin: left;
    transform: skewY(-30deg);
}
#left_part #ismism_main_cube #show_cube div.searched::before{
    background-color: darkgoldenrod;
    opacity: var(--b);
}
#left_part #ismism_main_cube #show_cube div.pinned::before{
    background-color: darkcyan;
    opacity: var(--b);
}
#left_part #ismism_main_cube #show_cube div.selected::before{
    background-color: brown;
    opacity: var(--b);
}
#left_part #ismism_main_cube #show_cube div::after{
    content: "";
    position: absolute;
    left: -0.05rem;
    top: -5.8rem;
    width: 2.5rem;
    height: 5.75rem;
    background-color: rgb(200, 200, 200);
    box-sizing: border-box;
    border:solid black 0.05rem;
    transform-origin: bottom;
    transform: skewX(-60deg);
}
#left_part #ismism_main_cube #show_cube div.searched::after{
    background-color: rgb(225, 172, 39);
    opacity: var(--a);
}
#left_part #ismism_main_cube #show_cube div.pinned::after{
    background-color: rgb(17, 188, 188);
    opacity: var(--a);
}
#left_part #ismism_main_cube #show_cube div.selected::after{
    background-color: rgb(218, 73, 73);
    opacity: var(--a);
}
#left_part #ismism_main_cube #hover_cube{
    z-index: 100;
    position: absolute;
}
#left_part #ismism_main_cube #hover_cube div{
    position: absolute;
    left: calc(calc(var(--x)*2.5rem));
    top: calc(calc(var(--y)*3rem) + calc(var(--x)*1.45rem));
    width: 2.5rem;
    height: 3rem;
    transform: skewY(30deg);
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_part #ismism_main_cube #hover_cube div::before{
    content: "";
    position: absolute;
    left: 2.5rem;
    width: 10rem;
    height: 3rem;
    transform-origin: left;
    transform: skewY(-30deg);
}
#left_part #ismism_main_cube #hover_cube div::after{
    content: "";
    position: absolute;
    top: -5.8rem;
    width: 2.5rem;
    height: 5.8rem;
    transform-origin: bottom;
    transform: skewX(-60deg);
}
#left_part #ismism_main_cube #hover_cube div p{
    position: relative;
    width: 2.5rem;
    max-height: 3rem;
    text-align: center;
    word-break: break-all;
    overflow: hidden;
    text-wrap: balance;
}
#left_part #ismism_main_cube #hover_cube div.no_data p{
    color: rgb(100,100,100);
}
#left_part #ismism_main_cube .x{
    position: absolute;
    left: calc(9.95rem + calc(var(--x)*2.5rem));
    top: calc(-0.65rem + calc(var(--x)*1.45rem));
    width: 0;
    height: 11.9rem;
    border-right: 0.1rem dashed black;
    transform: skewY(30deg);
}
#left_part #ismism_main_cube .x p{
    position: relative;
    left:-1.5rem;
    top: -1.5rem;
    width: 2.5rem;
    color: green;
}
#left_part #ismism_main_cube .y{
    position: absolute;
    left:10rem;
    top: calc(11.25rem - calc(var(--y)*3rem));
    width: 10rem;
    height: 0;
    border-bottom: 0.1rem dashed black;
    transform-origin: left;
    transform: skewY(30deg);
}
#left_part #ismism_main_cube .y p{
    position: absolute;
    left:12.75rem;
    top: 0.75rem;
    width: 5rem;
    color: red;
}
#left_part #ismism_main_cube #ontological_structure{
    position: absolute;   
    left: 20rem;
    top: 5.8rem;
    transform: skewY(30deg);
}
#left_part #ismism_main_cube #ontological_structure li{
    position: relative;
    list-style: none;
    width: 2.5rem;
    height: 3rem;
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    border:solid black 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_part #ismism_main_cube #ontological_structure li.searched{
    background-color: rgb(201, 149, 15);
}
#left_part #ismism_main_cube #ontological_structure li.pinned{
    background-color: rgb(11, 167, 167);
}
#left_part #ismism_main_cube #ontological_structure li.selected{
    background-color: rgb(182, 53, 53);
}
#left_part #ismism_main_cube #ontological_structure li p{
    position: absolute;
    width: 2.5rem;
    max-height: 3rem;
    text-align: center;
    word-break: normal;
    overflow: hidden;
    text-wrap: balance;
}
#left_part #ismism_main_cube #ontological_structure li.no_data p{
    color: rgb(68,68,68);
}
#left_part #ismism_main_cube #x{
    z-index: 10;
    position: absolute;
    left: 9.9rem;
    top: 0.25rem;
    height: 11rem;
    border-right: 0.2rem dashed red;
    transform-origin: left;
    transform: skewY(30deg);
}
#left_part #ismism_main_cube #x::before{
    content: "";
    position: absolute;
    left: -0.2rem;
    top: -2rem;
    border-style: solid;
    border-width: 1rem 0.3rem 1rem 0.3rem;
    border-color: transparent transparent red transparent;
}
#left_part #ismism_main_cube #y{
    z-index: 9;
    position: absolute;
    left:10rem;
    top: 11.2rem;
    width: 9rem;
    border-bottom: 0.2rem dashed green;
    transform-origin: left;
    transform: skewY(30deg);
}
#left_part #ismism_main_cube #y::before{
    content: "";
    position: absolute;
    left: 9rem;
    top: -0.2rem;
    border-style: solid;
    border-width: 0.3rem 1rem 0.3rem 1rem;
    border-color: transparent transparent transparent green;
}
#left_part #ismism_main_cube #z{
    z-index: 8;
    position: absolute;
    left: 1rem;
    top: 11.2rem;
    width: 9rem;
    border-bottom: 0.2rem dashed blue;
    transform-origin: top;
}
#left_part #ismism_main_cube #z::before{
    content: "";
    position: absolute;
    left: -2rem;
    top: -0.2rem;
    border-style: solid;
    border-width: 0.3rem 1rem 0.3rem 1rem;
    border-color: transparent blue transparent transparent;
}
#left_part #axis_label{
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 7.5rem;
    height: 8rem;
}
#left_part #axis_label p{
    position: relative;
    left: 3rem;
    line-height: 1.5rem;
}
#left_part #axis_label p::before{
    content: "";
    position: absolute;
    left: -1.3rem;
    bottom: 0.2rem;
    width: 1rem;
    height:1rem;
}
#left_part #axis_label #axis_x::before{
    background-color: red;
}
#left_part #axis_label #axis_y::before{
    background-color: green;
}
#left_part #axis_label #axis_z::before{
    background-color: blue;
}
#left_part #axis_label #axis_i::before{
    background-color: darkorange;
}
#left_part #ism_info{
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    top: 19.5rem;
    height: calc(100% - 20rem);
    background-color: rgb(200, 200, 200);
    border-radius: 1rem;
    box-shadow: inset 0 0 3px 3px gray;
    overflow-y: scroll;
}
#left_part #ism_info div{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 1.5rem;
    margin-right: 0.5rem;
    display: flex;
}
#left_part #ism_info div p{
    margin: auto;
    white-space: pre-wrap;
}
#left_part #ism_info div p#ism_name{
    margin-top: -0.25rem;
    text-align: center;
}
#left_part #size_adjuster{
    position: absolute;
    left: 40rem;
    height: 100%;
}
#left_part #size_adjuster #background_line{
    position: absolute;
    top: 2rem;
    width: 1rem;
    height: calc(100% - 4rem);
}
#left_part #size_adjuster #size_indicator{
    position: absolute;
    width: 1rem;
    height: 4rem;
    background: rgb(200,200,200);
    box-sizing: border-box;
    border: 0.05rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#left_part #size_adjuster #size_indicator p{
    position: absolute;
    width: 1rem;
    user-select: none;
    text-align: center;
}
#left_part #size_adjuster #size_indicator:hover{
    background-color: gray;
}
#right_part{
    position: absolute;
    left: 42rem;
    right: 0;
    min-width: 50rem;
    height: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
}
@keyframes right_close{
    0%{left: 42rem}
    100%{left: 2rem}
}
@keyframes right_open{
    0%{left: 2rem}
    100%{left: 42rem}
}
#right_part #ismism_cube_box{
    position: absolute;
    left: 0;
    right: 0;
    max-width: 60rem;
    display: flex;
    transform-origin: left;
}
#right_part #ismism_cube_box .ismism_cube{
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    top: calc(2rem + calc(var(--y) * 18rem));
}
#right_part #ismism_cube_box .ismism_cube p{
    position: absolute;
    width: 2.5rem;
    max-height: 3rem;
    text-align: center;
    word-break: normal;
    overflow: hidden;
    text-wrap: balance;
}
#right_part #ismism_cube_box .ismism_cube .detail{
    position: relative;
    flex: auto;
    transform: skewY(-15deg);
}
#right_part #ismism_cube_box .ismism_cube .detail ul{
    position: absolute;
    left: calc(var(--x)*2.5rem);
}
#right_part #ismism_cube_box .ismism_cube .detail ul div{
    position: absolute;
    width: 2.5rem;
    top: -1.25rem;
    color: blue;
    text-align: center;
}
#right_part #ismism_cube_box .ismism_cube .detail ul li{
    position: relative;
    list-style: none;
    width: 2.5rem;
    height: 3rem;
    background-color: rgb(200, 200, 200);
    box-sizing: border-box;
    border:solid black 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right_part #ismism_cube_box .ismism_cube .detail ul li.searched{
    background-color: rgb(225, 172, 39);
}
#right_part #ismism_cube_box .ismism_cube .detail ul li.pinned{
    background-color: rgb(17, 188, 188);
}
#right_part #ismism_cube_box .ismism_cube .detail ul li.selected{
    background-color: rgb(218, 73, 73);
}
#right_part #ismism_cube_box .ismism_cube .detail ul li p{
    color: black;
}
#right_part #ismism_cube_box .ismism_cube .detail ul li.no_data p{
    color: rgb(130, 130, 130);
}
#right_part #ismism_cube_box .ismism_cube .detail .block{
    position: absolute;
    display: flex;
    left: 2.5rem;
    top: 13.45rem;
}
#right_part #ismism_cube_box .ismism_cube .detail .block div{
    position: relative;
    width: 2.5rem;
    height: 3rem;
    background-color: gray;
    box-sizing: border-box;
    border:solid black 0.05rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.searched{
    background-color: darkgoldenrod;
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.pinned{
    background-color: darkcyan;
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.selected{
    background-color: brown;
}
#right_part #ismism_cube_box .ismism_cube .detail .block div::after{
    content: "";
    position: absolute;
    left: -0.05rem;
    top: -1.5rem;
    width: 2.5rem;
    height: 1.45rem;
    background-color: rgb(200, 200, 200);
    box-sizing: border-box;
    border:solid black 0.05rem;
    transform-origin: bottom;
    transform: skewX(60deg);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.searched::after{
    background-color: rgb(225, 172, 39);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.pinned::after{
    background-color: rgb(17, 188, 188);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.selected::after{
    background-color: rgb(218, 73, 73);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div::before{
    z-index: -1;
    content: "";
    position: absolute;
    left: -2.55rem;
    top: -0.05rem;
    width: 2.5rem;
    height: 3rem;
    background-color: rgb(170, 170, 170);
    box-sizing: border-box;
    border:solid black 0.05rem;
    transform-origin: right;
    transform: skewY(30deg);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.searched::before{
    background-color: rgb(201, 149, 15);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.pinned::before{
    background-color: rgb(11, 167, 167);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.selected::before{
    background-color: rgb(182, 53, 53);
}
#right_part #ismism_cube_box .ismism_cube .detail .block div.no_data p{
    color: rgb(68,68,68);
}
#right_part #ismism_cube_box .ismism_cube .detail .i{
    position: absolute;
    left: 10.25rem;
    top: calc(calc(var(--y)*3rem) + 1rem);
    color: darkorange;
}
#right_part #ismism_cube_box .ismism_cube .detail #i{
    position: absolute;
    left: 10rem;
    top: 1rem;
    height: 11rem;
    border-right: 0.2rem dashed darkorange;
}
#right_part #ismism_cube_box .ismism_cube .detail #i::before{
    content: "";
    position: absolute;
    left: -0.2rem;
    top: -2rem;
    border-style: solid;
    border-width: 1rem 0.3rem 1rem 0.3rem;
    border-color: transparent transparent darkorange transparent;
}
#right_part #ismism_cube_box .ismism_cube .detail #z{
    position: absolute;
    left: 1rem;
    top: 12rem;
    width: 9rem;
    border-bottom: 0.2rem dashed blue;
}
#right_part #ismism_cube_box .ismism_cube .detail #z::before{
    content: "";
    position: absolute;
    left: -2rem;
    top: -0.2rem;
    border-style: solid;
    border-width: 0.3rem 1rem 0.3rem 1rem;
    border-color: transparent blue transparent transparent;
}
