:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* 禁止自动颜色模式切换，强制使用浅色主题 */
  color-scheme: light;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
